
<div class="content">

  <h1 class="header">All Shelters</h1>
  <p><a class="pet-link hover" href="/shelters?num_pets=true">Sort Shelters by Number of Pets</a></p>
  <p><a class="pet-link hover" href="/shelters?alphabetical=true">Sort Shelters by Alpbetical Order</a></p>


  <% @shelters.each do |shelter| %>
    <section id="shelter-<%= shelter.id %>" class="pet-list">
      
      <h2 class="under"><a class="shelter-link" href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h2>
      <p>Pet Count: <%= shelter.pets.count %></p>
      <p>Average Review Rating: <%= shelter.average_review_rating %></p>
      <p>Application Count: <%= shelter.app_count %></p>
      <p><a class="edit" href="/shelters/<%= shelter.id %>/edit">Update Shelter</a></p>
      <p><a class="edit" href="/shelters/<%= shelter.id %>/pets/new">Create Pet</a></p>

      <% if shelter.pending? %>
        <p class="italics">shelters with adoption pending pets cannot be deleted</p><br>
      <% else %>
        <section class="delete-form">
          <%= button_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
        </section><br> <br>
      <% end %>

      <%= link_to 'Review this shelter!', "/shelters/#{shelter.id}/new_review", class: "grey hover" %>
      <br><br>
    </section>
  <% end %>


</div>
