
  <div class="content">

  <h1 class="header">Shelter Details</h1>
  <h2 class="bold">Name: <%= @shelter.name %></h2>
  <p class="bold"> Pet Count: <%= @shelter.pets.count %></p>
  <p class="bold">Address: <%= @shelter.address %></p>
  <p class="bold">City: <%= @shelter.city %></p>
  <p class="bold">State: <%= @shelter.state %></p>
  <p class="bold">Zip: <%= @shelter.zip %></p> <br>
  <p><a class="edit" href="/shelters/<%= @shelter.id %>/pets/new">Create Pet</a></p>

  <a class="edit" href="/shelters/<%= @shelter.id%>/pets">See Adoptable Pets!</a>
<br><br>
  <p><a class="edit" href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></p>

  <% (@shelter.reviews || []).each do |review| %>
    <p><%= review.title %></p>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
    <img id="<%= "review-image-#{review.id}" %>" src="<%= review.image %> image" />
  <% end %>

  <% if @shelter.pets.count == 0 %>
  <section class="delete-form">
    <%= button_to "Delete #{@shelter.name}", "/shelters/#{@shelter.id}", method: :delete %>
  </section>
  <% else %>
  <p class="italics">Cannot delete shelter while it has pets</p>
  <% end %>

</div>
