
  <div class="content">

  <h1 class="header">Shelter Details</h1>
  <h2 class="bold">Name: <%= @shelter.name %></h2>
  <p class="bold"> Pet Count: <%= @shelter.pets.count %></p>
  <p class="bold">Address: <%= @shelter.address %></p>
  <p class="bold">City: <%= @shelter.city %></p>
  <p class="bold">State: <%= @shelter.state %></p>
  <p class="bold">Zip: <%= @shelter.zip %></p> <br>
  <p><a class="edit" href="/shelters/<%= @shelter.id %>/pets/new">Create Pet</a></p>

  <a class="edit" href="/shelters/<%= @shelter.id%>/pets">See Adoptable Pets!</a>
<br><br>
  <p><a class="edit" href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></p>

  <%= link_to "Review this shelter!", "/shelters/#{@shelter.id}/new_review", method: "get" %>

  <h2>Reviews for <%= @shelter.name.capitalize %></h2>
  <% (@shelter.reviews || []).each do |review| %>
    <h3><u><%= review.title %></u></h3>
    <p><%= review.content %></p>
    <p><b>Rating:</b> <%= review.rating %></p>
    <% if review.image != "" %>
      <img id="<%= "review-image-#{review.id}" %>" src="<%= review.image %> image" />
    <% end %>
    <%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit", method: "get" %>
    <br>
  <% end %>

  <% if @shelter.pets.count == 0 %>
  <section class="delete-form">
    <%= button_to "Delete #{@shelter.name}", "/shelters/#{@shelter.id}", method: :delete %>
  </section>
  <% else %>
  <p class="italics">Cannot delete shelter while it has pets</p>
  <% end %>

</div>
