
<div class="content">

  <h1 class="header">Favorite Pets</h1>
  <% if @favorite_pets.empty? %>
    <p class="bold">You have no favorited pets</p>
  <% else %>
    <% @favorite_pets.each do |pet| %>
    <section id="<%= pet.id %>-info" class="pet-list">

        <img class="pet-image-small" src="<%= pet.image %>" alt="<%= pet.name %> image"> <p>
        <h2><a id="<%= pet.name %>"class="pet-link hover" href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
        <br>
        <section id="delete-<%= pet.id %>">
          <%= button_to "Remove #{pet.name} from favorites", "/favorites/#{pet.id}?page=favorites", method: :delete, class: "grey hover" %>
        </section>
    </section>
    <br>

    <% end %>

    <section id="remove-all-from-fav">
      <%= button_to "Remove all pets from favorites", "/favorites?remove_all=true", method: :delete, class: "grey hover" %>
    </section><br>

    <section class="new-application">
      <%= button_to "New application for favorite pets", "/apps/new",  method: :get, class: "grey hover" %>
    </section>

    <% if !@apps.empty? %>
      <section id="pets-apps">
        <h2>Pets with active applications</h2>
        <% @pets.each do |pet| %>
          <% if !pet.apps.empty? %>
          <section id="app-<%= pet.id %>">
            <%= link_to "#{pet.name}", "/pets/#{pet.id}"  %>
          </section>
          <% end %>

        <% end %>
      </section>
    <% end %>



  <% end %><br><br>


</div>
