<div class="content">

  <h1 class="header">Pet Details</h1>
  <img class="pet-image" src="<%= @pet.image %>" alt="<%= @pet.name %> image"> <p>
  <h3>Name: <%= @pet.name %></h3>
  <p>Description: <%= @pet.description %></p>
  <p>Shelter: <a class="shelter-link hover" href="/shelters/<%= @pet.shelter_id %>"><%= @pet.shelter.name %></a></p>
  <p>Approximate Age: <%= @pet.age %><p>
  <p>Sex: <%= @pet.sex %><p>

  <p>Adoption status: <%= @pet.adoption_status %></p>
  <% if @pet.adoptable %>
    <%= button_to "Change to Adoption Pending", "/pets/#{@pet.id}/pending", method: :patch, class: "grey hover" %>

  <% elsif !@pet.adoptable %>
  <%= button_to "Change to Adoptable", "/pets/#{@pet.id}/adoptable", method: :patch, class: "grey hover"%>
    <% end %><br>

    <% if !@pet.on_hold_for.nil? %>
    <p>On hold for <%= @pet.on_hold_for %></p>
    <% end %>

    <%= link_to "View Applications", "/pets/#{@pet.id}/apps", class: "grey hover" %>
  <br>
  <br>
  <% if favorite.contents[@pet.id.to_s].nil? || favorite.contents[@pet.id.to_s] == 0 %>
  <section id="fav-<%= @pet.id %>" >
      <%= button_to "Add #{@pet.name} to favorites", "/favorites/#{@pet.id}?page=show", method: :patch, class: "grey hover" %>
  </section><br>
  <% else %>
  <section id="delete-<%= @pet.id %>">
    <%= button_to "Remove #{@pet.name} from favorites", "/favorites/#{@pet.id}?page=show", method: :delete, class: "grey hover" %>
  </section><br>
  <% end %>

  <a class="edit" href="/pets/<%= @pet.id %>/edit">Update Pet</a><br><br>

  <section class="delete-form">
    <% if !@pet.adoptable %>
      <p class="italic small">Cannot delete pet with approved applications</p>
    <% else %>
      <%= button_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %>
    <% end %>
  </section> <br><br>



</div>
