<div class="content">

  <h1 class="header">All Applications</h1>

  <section id="remove-all-from-fav">
    <%= button_to "Remove all pets from favorites", "/favorites", method: :delete, class: "grey hover" %>
  </section><br>

  <% @apps.each do |app| %>
  <section id="app-<%= app.id %>">
      <p><a class= "pet-link" href="/apps/<%= app.id %>"><%= app.name %></a></p>
      <% app.pets.each do |pet| %>
      <p><a href="/pets/<%= pet.id %>"><%= pet.name %></a></p>
      <% end %>
      <%= button_to "Delete App", "/apps/#{app.id}", method: :delete %>
  </section>

  <% end %>



</div>
