<div class="content">

  <h1 class="header">Applications for <a class= "pet-link" href="/pets/<%= @pet.id %>"><%= @pet.name %></a></h1>



  <h2> Applicant Name: </h2>
  <% if @pet.apps.empty? %>
    <p class="bold">There are no applications for this pet. </p>
  <% else %>
    <% @pet.apps.each do |app| %>
    <section id = "app-<%= app.id %>"  >
      <p><a class= "pet-link" href="/apps/<%= app.id %>"><%= app.name %></a></p>
      <p>Shelter:<a class= "shelter-link" href="/shelters/<%= @pet.shelter.id %>"><%= @pet.shelter.name %></a></p>
    </section>
    <br>
  <% end %>
<% end %>



</div>
