<div class="content">

  <h1 class="header">Application: <%= @app.name %> </h1>

  <section id = "app-<%= @app.id %>"  >
    <h2> Applicant Name: <%= @app.name %></h2>
    <p> Address: <%= @app.address %></p>
    <p> City: <%= @app.city %></p>
    <p> State: <%= @app.state %></p>
    <p> Zip: <%= @app.zip %></p>
    <p> Phone Number: <%= @app.phone_number %></p>
    <p> Description: <%= @app.description %></p>
    <% @app.pets.each do |pet| %>
    <section id = "pet-<%= pet.id %>">
      <p><a class= "pet-link" href="/pets/<%= pet.id %>"><%= pet.name %></a></p>
      <% if pet.on_hold_for.nil? %>
        <%= button_to "Approve Application", "/apps/#{@app.id}/pets/#{pet.id}", method: :patch, class: "grey hover" %>
      <% else %>
        <p>Can not approve application</p>
      <% end %>
    </section>
    <% end %>
  </section>



</div>
