<h1>Update Review</h1>

<%= form_for @review, url: {action: "update"} do |f| %>
  <%= label_tag(:title) %>
  <%= f.text_field :title %>
  <br>
  <%= label_tag(:rating) %>
  <%= f.text_field :rating %>
  <br>
  <%= label_tag(:content) %>
  <%= f.text_field :content %>
  <br>
  <%= label_tag(:image) %>
  <%= f.text_field :image %>
  <br>
  <%= f.submit "Edit Review" %>
<% end %>
