<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <section class=<%= type %>>
        <p><%= message %></p>
      </section>
    <% end %>
    <%= yield %>
    <div class="background">
      <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
    </div>

    <div class="main_menu">
      <a class="link" href="/">Main</a>
      <a class="link" href="/shelters">Shelters</a>
      <a class="link" href="/shelters/new">New Shelter</a>
      <a class="link" href="/pets">Pets</a>
      <a class="favorite_indicator" href="/favorites"> <%= favorite.total_count %></a>

    </div>
  </body>
</html>
