<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="background">
      <img src="https://tg-cdn.azureedge.net/sites/default/files/2019-10/meadow-3375052_1920-%281%29.jpg" alt="grass">
    </div>
      <%= yield %>


      <div class="main_menu">
        <a class="link" href="/">Main</a>
        <a class="link" href="/shelters">Shelters</a>
        <a class="link" href="/shelters/new">New Shelter</a>
        <a class="link" href="/pets">Pets</a>
        <a class="favorite_indicator" href="/favorites"> <%= favorite.total_count %></a>
        <a class="link" href="/apps/all"> All Apps</a>

      </div>
      <% flash.each do |type, message| %>
        <section class=<%= type %>>
          <p class="user-message"><%= message %></p>
        </section>
      <% end %>


  </body>
</html>
